$colors: (
  primary: #36558f,
  primary-variant: #96acb7,
  secondary: #48233c,
  secondary-variant: #40376e,
  accent: #f0ead6
);

$padding: 15px;
$borders: 15px;
$desktop: 840px;
$container: 960px;
$section-padding: 20px;
$main-font: "Helvetica";
