$colors: (
  primary: #ff0000,
  primary-dark: darken(#ff0000, 40%),
  secondary: #000000,
  secondary-light: lighten(#000000, 40%) ; accent: #f0ead6
);

$padding: 15px;
$borders: 15px;
$desktop: 840px;
$tablet: 768px;
$phone: 640px;
$container: 960px;
$section-padding: 20px;
$main-font: "Helvetica";
